<div class="profile-card">
  <div class="profile-card-avatar">
    <img src="/assets/imgs/avatar.png" alt="avatar" class="profile-card-avatar__img">

    <div class="profile-card-avatar__name">
      <strong class="h6">Райан Гослинг</strong>
      <span class="subtitle">ray.ghost</span>
    </div>
  </div>

  <div class="profile-card-description">
    <p>Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.</p>
  </div>

  <div class="profile-card-tags">
    <div class="profile-card-tags__tag">Angular</div>
    <div class="profile-card-tags__tag">HTML</div>
    <div class="profile-card-tags__tag">CSS</div>
    <div class="profile-card-tags__tag">REST</div>
  </div>

  <div class="profile-card-tags-action-btns">
    <div class="btn">Подписаться</div>
  </div>
</div>
