@if (profile){
  <div class="profile-card">
    <div class="profile-card-avatar">
      <img
        [src]="profile.avatarUrl | imgUrl"
        alt="avatar"
        class="profile-card-avatar__img">

      <div class="profile-card-avatar__name">
        <strong class="h6">{{profile.firstName}} {{profile.lastName}}</strong>
        <span class="subtitle">{{profile.username}}</span>
      </div>
    </div>

    <div class="profile-card-description">
      <p>{{profile.description}}</p>
    </div>

    <div class="profile-card-tags">
      <div *ngFor="let tag of profile.stack" class="profile-card-tags__tag">{{tag}}</div>
    </div>

    <div class="profile-card-action-btns">
      <div class="btn">Подписаться</div>
    </div>
  </div>
}
