<img src="assets/svg/logo-small.svg" alt="Logo tik-talk" class="main-menu-logo">

<nav>
  <ul class="main-menu-list">
    <li>
      <button class="main-menu-list-btn">
        <svg class="main-menu-list-btn-icon" icon="home"></svg>
        <span>Моя страница</span>
      </button>
    </li>
    <li>
      <button class="main-menu-list-btn">
        <svg class="main-menu-list-btn-icon" icon="chats"></svg>
        <span>Чаты</span>
      </button>
    </li>
    <li>
      <button class="main-menu-list-btn">
        <svg class="main-menu-list-btn-icon" icon="search"></svg>
        <span>Поиск</span>
      </button>
    </li>
  </ul>
</nav>
