<app-profile-page></app-profile-page>

<form
  class="profile-form-wrapper"
  [formGroup]="form"
>
  <div class="profile-form">
    <div class="two-columns">
      <label class="tt-form-label">
        <span class="tt-form-label-text">Имя</span>
        <input
          type="text"
          class="tt-form-input"
          formControlName="firstName">
      </label>
      <label class="tt-form-label">
        <span class="tt-form-label-text">Фамилия</span>
        <input
          type="text"
          class="tt-form-input"
          formControlName="lastName">
      </label>
    </div>

    <label class="tt-form-label">
      <span class="tt-form-label-text">Telegram Username</span>
      <input
        type="text"
        class="tt-form-input"
        formControlName="username">
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label-text">О себе</span>
      <textarea
        class="tt-form-input tt-textarea"
        formControlName="description">
    </textarea>
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label-text">Аватарка</span>
      <app-avatar-upload></app-avatar-upload>
    </label>

    <label class="tt-form-label">
      <span class="tt-form-label-text">Навыки (стэк)</span>
      <textarea
        class="tt-form-input"
        formControlName="stack">
    </textarea>
    </label>
  </div>

  <div>
    <div>
      <div
        class="btn"
        (click)="onSave()"
      >Сохранить</div>
    </div>
  </div>
</form>
